@import './variables.scss';

@mixin with-before {
  position: relative;

  &::before {
    content: "";
    position: absolute;
  }
}

@mixin with-after {
  position: relative;

  &::after {
    content: "";
    position: absolute;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin paragraph-reset {
  margin: 0;
  text-align: left;
}

@mixin link-reset {
  @include with-after;
  @include focus;

  text-decoration: none;
  color: $color-fg;
  transition: 0.2s ease-in;

  &:hover::after {
    left: 0.5rem;
    right: 0.5rem;
    height: 1px;
    bottom: 0;
    background-color: $color-accent;
  }
}

@mixin focus {
  box-shadow: none;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 2px $color-bg, 0 0 0 4px $color-accent
  }

  &:active {
    box-shadow: none;
  }
}

@mixin button {
  @include focus;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  color: $color-fg-inverted;
  background-color: $color-btn;
  border: none;
  transition: 0.3s ease-in background-color;
  cursor: pointer;

  &:hover {
    background-color: $color-hover;
  }

  &:disabled {
    background-color: $color-disabled;
  }

  &:active {

  }
}
