.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1400px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 16px ;
}